@page
@model LoginModel
@using LogiticsWebApp.Utilities.Enums
@{
    ViewData["Title"] = "Log in";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Logistic Web App| Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/css/icheck-bootstrap.min.css">
    <link href="~/css/adminlte.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <b>Logistic Web App</b>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in </p>

                <form form id="account" method="post">
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="input-group mb-3">
                        <input asp-for="Input.Email" type="email" class="form-control" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input asp-for="Input.Password" type="password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input asp-for="Input.RememberMe" type="checkbox" id="remember">
                                <label asp-for="Input.RememberMe" for="remember">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                @*<p class="mb-1">
                    <a id="forgot-password" asp-page="./ForgotPassword">I forgot my password</a>
                </p>*@
                <div class="row text-center">
                   
                    <div class="col-12">
                        <p class="mb-0">
                            <a asp-page="/Account/Register" asp-route-returnUrl="@Model.ReturnUrl" asp-route-role="@UserRoles.Vendor" class="text-center">Register a Vendor</a>
                        </p>
                    </div>
                    <div class="col-12">
                        <p class="mb-0">
                            <a asp-page="/Account/Register" asp-route-returnUrl="@Model.ReturnUrl" asp-route-role="@UserRoles.CompanyOwner" class="text-center">Register a Company</a>
                        </p>
                    </div>
                </div>
             
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>


    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/adminlte.min.js"></script>
    <script src="~/js/all.min.js"></script>
    <script src="~/js/fontawesome.min.js"></script>

</body>
</html>
